header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  border-bottom: 5px solid black;
  align-items: center;
}

header h1 {
  background: black;
  color: white;
  display: flex;
  height: 50%;
  align-items: center;
}

/* DEMO-SPECIFIC STYLES */
.typing {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: typing 5s steps(17, end) infinite,
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0%,
  10% {
    width: 0; /* start hidden */
  }
  80%,
  90% {
    width: 17ch; /* fully typed, pause here */
  }
  91%,
  100% {
    width: 0; /* instantly reset to 0 to start next loop */
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
