header {
  position: relative;
  display: grid;
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  border-bottom: 5px solid black;
}

header h1 {
  background: black;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 75px;
  display: grid;
  justify-content: left;
  align-items: center;
  top: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 0;
  object-fit: cover;
}
